<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>quiz</title>
</head>
<body>
    <h2><%= question %></h2>
    <form action="/quiz" method="get">
        <input type="radio"name="answer" value="東京" id="radio1">
        <label for="radio1">東京</label><br>
        <input type="radio" name="answer" value="大阪" id="radio2">
        <label for="radio2">大阪</label><br>
        <input type="submit" value="送信">
    </form>
    <% if (result) { %>
        <p><%= result %></p> 
    <% } %>
</body>
</html>